<div
  role="rowgroup"
  class="ui-grid-viewport"
  ng-style="colContainer.getViewportStyle()"><!-- tbody -->
  <div
    class="ui-grid-canvas">
    <div
      ng-repeat="(rowRenderIndex, row) in rowContainer.renderedRows track by $index"
      class="ui-grid-row"
      ng-style="Viewport.rowStyle(rowRenderIndex)"
      style="position:relative;">
      <div
        role="row"
        ui-grid-row="row"
        row-render-index="rowRenderIndex">
      </div>
      <cdk-table data-ng-if="row.entity.childData" model="row.entity.childData" auto-generate-columns="false"
                 id="childGrid"
                 select-row="false"
                 full-row-selec="false" ,
                 options="row.entity.childOptions"
                 max-height="200"
                 show-grid-menu="false" ,
                 show-col-menu="false"
      ></cdk-table>
      <!--<div class="ui-grid-child-row" data-ng-show="row.entity.opened">-->
      <!--<table data-ng-show="row.entity.childData" class="CDK_grid" style="margin-left:1%;width:99%" cellpadding="0" cellspacing="0">-->
      <!--<tr>-->
      <!--<th ng-repeat="col in Viewport.GetColumns(row.entity.childData[0])">{{col}}</th>-->
      <!--</tr>-->
      <!--<tr ng-repeat="row in row.entity.childData">-->
      <!--<td ng-repeat="td in Viewport.GetColumns(row)">{{row[td]}}</td>-->
      <!--</tr>-->
        <!--</table>-->
      <!--</div>-->
    </div>
  </div>
</div>
